$phone: 750px;
$tablet: 800px;
$break-large: 1100px;
$green: #009341;
$yellow: #ffd250;

$primary-blue: #2cccd3;
$primary-pink: #df1995;

@import "header";
@import "mainSlides";
@import "menu";
@import "footer";
//@import "contact";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.typekit.net/fai4dzl.css");
html,
body {
  // overflow-x: hidden;
  // background-color: aqua;
  margin: 0;
  scroll-behavior: smooth;
  // font-family: 'Nunito Sans', sans-serif;
  font-family: azo-sans-web, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
p,
button,
input,
optgroup,
select,
textarea {
  // font-family: 'Nunito Sans', sans-serif !important;
  font-family: azo-sans-web, sans-serif !important;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.pageWrapper {
  position: relative;
}

.legalInfo-div {
  width: 60%;
  margin: 0 auto;
  padding: 5% 0;
  min-height: 700px;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
}

// dropdown country

.ui.selection.dropdown {
  background: transparent !important ;
}

.ui.dropdown > .text {
  color: white !important;
}
.ui.selection.dropdown > .dropdown.icon {
  color: white;
}

// banner
.banner {
  .text {
    span {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
    }
  }
}

// menu
.menuContainer {
  .menuSlides {
    .menuItem1Wrap {
      .imgContainer {
        &:hover {
          //transform: scale(0.75, 0.75);
          .imgWrap {
            //transform: scale(1.6, 1.6);
          }
        }
      }
    }
  }

  .slick-next::before {
    content: "";
    background: url("../images/menu/Arrow.png"); /*url of image*/
    height: 50px; /*height of image*/
    width: 50px; /*width of image*/
    position: absolute;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    right: 1px;
    background-color: #FFFFFF;
   opacity: 0.9;
   top: -40px
  }

  .slick-prev::before {
    content: "";
    background: url("../images/menu/Arrow_prev.png"); /*url of image*/
    height: 50px; /*height of image*/
    width: 50px; /*width of image*/
    position: absolute;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;

    left: 1px;
    background-color: #FFFFFF;
    opacity: 0.9;
    top: -40px
  }
}

// button
button:focus {
  outline: none;
}

// line-height
.leading-tight {
  line-height: 1.25 !important;
}


// header

.headerWrapper {
  .burgerMenu {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      display: inline;
    }
    .bar1,
    .bar2,
    .bar3 {
      height: 3px;
      background-color: white;
      margin: 3px 0;
      transition: 0.4s;
    }

    .bar1{
      width: 25px;
    }
    .bar2{
      width: 25px;
    }
    .bar3{
      width: 25px;
    }
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 3px);
      transform: rotate(-45deg) translate(-5px, 3px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -4px);
      transform: rotate(45deg) translate(-5px, -4px);
      width: 25px;
    }
  }

  .is-inactive {
    display: inline-flex ;
  }
}

// hover Text

.hoverText:hover {
  background-clip: text !important;
  background-size: contain !important;
  -webkit-text-fill-color: transparent;
  background-color: #fff;
  -webkit-text-stroke: 4px black;
}

.bg1:hover{
  background: url(../images/menu/bg/menuBg1.png);
}
.bg2:hover{
  background: url(../images/menu/bg/menuBg2.png);
}
.bg3:hover{
  background: url(../images/menu/bg/menuBg3.png);
}
.bg4:hover{
  background: url(../images/menu/bg/menuBg4.png);
}
.bg5:hover{
  background: url(../images/menu/bg/menuBg5.png);
}
.bg6:hover{
  background: url(../images/menu/bg/menuBg6.png);
}
.bg7:hover{
  background: url(../images/menu/bg/menuBg7.png);
}

.downloadApp{
  button{
    width: 100%;
  }
}


  .ui.modal {
    border-radius: 0 !important;
}

.igFeeds {
  aspect-ratio: 1 / 1;
}
.ig{

  a:hover {
    color: black !important;
    text-decoration: none;
  }
}