.mainSlidesContainer {
  .slick-slider {
    height: 100%;

    .slick-active{
      .textDiv
      {
       // border: pink 2px solid;
        animation: MoveUp 1s linear ;
      }
    }
   
    // next button
    .slick-next {
      right: 0;
    }
    .slick-prev {
      left: 0;
      z-index: 10;
    }
    .slick-dots{
      bottom: 0;
    }
  }
}


@keyframes MoveUp {
   0% {
    transform: translateY(+100px);
  }
  100% {
    transform: translateY(0);
  }
}